<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /2025/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l
    RewriteRule . /2025/index.html [L]
</IfModule>